body {
  background-color: #e7e7de;
}

hr {
  background-color: #008891;
  border-style: none;
  height: 2px;
  width: 8%;
}

h1 {
  text-decoration: underline;
  color: #0f3057;
  text-align: center;
}

a {
  color: #00587a;
}

p {
  color: #0f3057;
  text-align: center;
}

h3 {
  text-decoration: underline;
  color: #0f3057;
  text-align: center;
}

html {
  font-family: tahoma;
}