body {
  background-color: #faf3e0;
}

hr {
  background-color: #b68973;
  border-style: none;
  height: 2px;
  width: 8%;
}

h1 {
  text-decoration: underline;
  color: #1e212d;
}

a {
  color: #b68973;
}